html {
    font-family: "Outfit", sans-serif;
}

body {
    margin: 0;
    background:linear-gradient(135deg, #bbb7b7, #555353);
}

header {
    background: linear-gradient(135deg, #681414, #330202);
    color: white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: box-shadow 0.3s ease;
    background: linear-gradient(135deg, #681414, #330202);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    color: white;
    cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.3rem black;
}
section article h2, section article p {
    margin: 1rem;
}

footer {
    background: linear-gradient(135deg, #681414, #330202);
    padding: 3rem;
    color:beige;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color:azure;
    text-decoration: none;
}

footer a:hover {
    color:cornflowerblue;
}